div {
    text-align: center;
    margin-top: 10%;
}

h3 {
    text-align: center;
    margin: 10%;
}

span {
    padding: 70px 70px;
    border: 2px solid blue;
    background-color: #add8e6;
    margin: 10px;
    font-size: 30px;
}

span.red:hover {
    background-color: red;
    cursor: pointer;
}

span.green:hover {
    background-color: green;
    cursor: pointer;
}

span.blue:hover {
    background-color: blue;
    cursor: pointer;
}

span.yellow:hover {
    background-color: yellow;
    cursor: pointer;
}