body {
  background-color: #89eabf;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #89d4ea;

    .img {
      height: 320px;
      width: 320px;
    }
  }

}

@media only screen and (max-width: 560px) {
  body {
    background-color: #f3eeee;

    .box {
      border-left: 95px solid black;
      border-right: 95px solid black;

    }

    .img {
      height: 350px;
      width: 350px;
    }
  }
}

.text {
  margin-left: 35px;
  position: relative;
}

.box {
  display: inline-table;
  border: 5px solid black;
  color: white;
  background-color: black;
  margin-bottom: 15px;
  margin-left: 32px;
  text-align: center;
}

span {

  display: block;

}